div{
    background-color: lightgrey; 
    margin:5px; 
    padding: 15px; 
    width: 20%; 
    border: 3px solid black; 
    border-radius:10px;
}
#button,input #button,button, div #button{
    padding: 5px;
    background-color: rgb(137, 136, 136);
    margin:5px; 
    width: 5%; 
    border: 3px solid black; 
    border-radius:15px;
}
