{{>part}}
<form action="/add" method="post">
    <input type="text" name="FIO" placeholder="FIO" required>
    <input type="text" name="number" placeholder="number" pattern="[0-9]{7}" required >
    <input type="submit" id="button" value="send">
</form>
<div id="button">
    {{#deny}}{{/deny}}
</div>
